#bubble-container {
    position: fixed;
    transform: translate(-50%, -50%);
  }
  
  .bubble {
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    padding: 30px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 1;
  }
  
  .green {
    background-color: #3CB371;
    width: 150px;
    height: 150px;
    padding: 40px;
  }
  
  .orange {
    background-color: #FFA500;
    width: 120px;
    height: 120px;
    padding: 35px;
  }
  
  .red {
    background-color: #FF6347;
    width: 90px;
    height: 90px;
    padding: 30px;
  }
  
  .enlarge {
    transform: scale(1.5);
  }
  